<h1>Carrito {{cid}}</h1>
<div class="cartContainer">
    <ul>
        {{#if products}}
            {{#each products}}
                <li>
                    <p>{{product.title}}</p>
                    <p>Cantidad: {{quantity}}</p>
                    <p>${{product.price}}</p>
                    <form action="/api/carts/67ac102955008ad7f730ab18/products/{{product._id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Eliminar</button>
                    </form>
                </li>
            {{/each}}
        {{else}}
            <p>No hay productos</p>
        {{/if}}
    </ul>
    <div>
        <form action="/api/carts/67ac102955008ad7f730ab18?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Vaciar carrito</button>
        </form>
    </div>
</div>