<h1>Productos:</h1>
<div class="cartsContainer">
    <ul>
        {{#if products}}
            {{#each products}}
                <li class="li-index">
                    <p><u>{{this.title}}</u> <a href="http://localhost:8080/product/{{this._id}}">(Ver detalle)</a></p>
                    
                    <form class="form-index" action="/api/carts/67ad50eb5e1f581a8646a0b7/products/{{this._id}}" method="post">
                        <button class="button-index" type="submit">Agregar al carrito</button>
                    </form>
                </li>
            {{/each}}
        {{else}}
            <p>No hay productos</p>
        {{/if}}
    </ul>
    <div class="paginationContainer" style="display: flex;">
        {{#if prevPage}}
            <p><a href="http://localhost:8080/products/?query={{query}}&limit={{limit}}&page={{numberPrev}}"><-</a></p>
        {{/if}}
        <p style="text-decoration: none;">Página: {{page}}</p>
        {{#if nextPage}}
            <p><a href="http://localhost:8080/products/?query={{query}}&limit={{limit}}&page={{numberSig}}">-></a></p>
        {{/if}}
    </div>
</div>