<div>
    <h1>Plantilla para trabajar con socket</h1>
    <form id="form" class="form-realtimeproducts">
        <div>
            <label for="title">Titulo:</label>
            <input type="text" name="title" id="title" required maxlength="20">
        </div>
        <div>
            <label for="description">Descripción:</label>
            <input type="text" name="description" id="description" required maxlength="30" placeholder="Máximo 30 caracteres">
        </div>
        <div>
            <label for="code">Código de producto:</label>
            <input type="text" name="code" id="code" required>
        </div>
        <div>
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" required>
        </div>
        <div>
            <label for="stock">Stock del producto:</label>
            <input type="number" name="stock" id="stock" required>
        </div>
        <div>
            <label for="category">Categoría:</label>
            <input type="text" name="category" id="category">
        </div>
        <button class="button-realtimeproducts" type="submit">Registrar producto</button>
    </form>
    <p>Productos con socket:</p>
    <div class="cartsContainer">
        <ul id="productsContainer">
        {{#if products}}
                {{#each products}}
                    <li id="product-{{this.id}}">
                        <p><u>{{this.title}}</u></p>
                        <p>Descripción: <br> {{this.description}}</p>
                        <p>${{this.price}}</p>
                        <button class="button-realtimeproducts" onclick="deleteProduct('{{this.id}}')">Eliminar</button>
                    </li>
                {{/each}}
        {{else}}
            <p>No hay productos</p>
        {{/if}}
        </ul>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>